<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lpy.news.dao.DivideDao">
    <insert id="saveDivide" parameterType="com.lpy.news.entity.Divide">
        insert into divide (id,name,create_time,update_time,link)
        values (#{id},#{name}, #{createTime}, #{updateTime},#{link});
    </insert>
    <update id="removeDivide" parameterType="com.lpy.news.entity.Divide">
        update divide
        set status = 0
        where id = #{id};
    </update>
    <select id="queryDividePage" resultType="com.lpy.news.entity.Divide">
        select  id,sort,name,create_time,update_time,link from divide
        <where>
            status = 1
            <if test="name != null and name!= ''" >
                and name = #{name}
            </if>
        </where>
        order by sort  limit ${pageNo}, ${pageSize};
    </select>
    <select id="queryDivideCount" resultType="java.lang.Integer">
        select count(*) from divide
        <where>
            status = 1
            <if test="name != null and name!= ''" >
                and name = #{name}
            </if>
        </where>
    </select>
    <update id="updateDivide" parameterType="com.lpy.news.entity.Divide">
        update divide
        set name = #{name},
            update_time = #{updateTime},
            link = #{link}
        where id = #{id};
    </update>
    <select id="selectDivideById" resultType="com.lpy.news.entity.Divide">
        select id,name,create_time,update_time,link from divide where id = #{id} and status = 1;
    </select>
    <select id="selectDivideByName" resultType="java.lang.Long">
        select id from divide
        where name = #{name} and status = 1;
    </select>
    <select id="getDivide" resultType="com.lpy.news.dto.DivideDto">
        select id,name,link from divide where status = 1;
    </select>
</mapper>