<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lpy.news.dao.NewsLikeDao">
    <insert id="saveNewsLike" parameterType="com.lpy.news.entity.NewsLikeDB">
        insert into news_like(id,news_id,user_id,state,update_time)
        values (#{id},#{newsId},#{userId},#{state},#{updateTime})
    </insert>

    <delete id="delNewsLikeCount">
        delete from news_like_count;
    </delete>

    <insert id="saveNewsLikeCount" parameterType="com.lpy.news.entity.NewsLikeCountDB">
        insert into  news_like_count(news_id,liked_count)(
        select news_id,count(1) liked_count from news_like where state = 1 group by news_id order by liked_count);
    </insert>

    <select id="selectNewsId" resultType="com.lpy.news.entity.NewsLikeCountDB">
        select news_id, liked_count from news_like_count order by liked_count desc;
    </select>
    <select id="selectNewsCountLike" resultType="java.lang.Integer">
        select liked_count from news_like_count where news_id = #{id};
    </select>

</mapper>